@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
$color-secondary: #7bc39b;
$color-primary: #172830;
html,body{
    margin: 0; 
    background: center/cover no-repeat url("../img/backgroundImage.png");
}
/*The header*/
#header{
    margin: 0;
    #title{
        font-size: xx-large;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #FFFFFF;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, $color-secondary 0px 0px 20px, $color-secondary 0px 0px 30px, $color-secondary 0px 0px 40px, $color-secondary 0px 0px 50px, $color-secondary 0px 0px 75px;
        margin-left: 25px;
        margin-top: 25px;
        display: flex;
    }
    .nav {
        border-bottom: 4px solid #d27878;;
        padding-right: 6rem;
        text-align: right;
        .logoList{
            width: 36px;
            position: relative;
            margin-bottom: -11px;
            margin-left: -46px;
            
        }
        .menuListVertical{
            list-style-type:none;
            margin-top: 35px;
            display: none;
            .link{
                margin-bottom: 25px;
            }
            a{
                text-decoration: none;
               
            }
            
        }
        .nav__link {
            display: inline;
            font-size: 1.5rem;
            margin-left: 10px; 
            background: center/cover no-repeat url("../img/backgroundImage.png");
            padding: 10px 48px; 
            border: none; 
            box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
            border-radius: 22px 50px;
            transition : 327ms;
            transform: translateY(0);
            color: #FFF;
            .link{
                display: block;
            }
            &:hover{ 
                transition : 327ms;
                padding: 10px 50px;
                transform : translateY(-0px);
                color: #ffffff;
                border: none;
                }
            a {
                text-decoration: none;
                color: #D6FFF5;
                }
               
            }
            .logo{
                display: flex;
                width: 104px;
                margin-left: 55px;
                margin-bottom: -28px;
                margin-top: 10px;
            }
        }

}
/* The container */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    //the best movie section
    .best-movie
    {
        background: center/cover no-repeat url("../img/backgroundImage.png");
        display: flex;
        justify-content: center;
        color: $color-secondary;
        flex-direction: row;
        outline: solid burlywood;
        width: 36%;
        height: 460px;
        text-align: center;
        // the best movie item
        .item{
            display:inline-block;
            padding:2em;
            width: 100%;
            margin: 10px;
            float:none;
            &-img{
                width: 90%;
                text-align: center;
                display: block;
            }
            // // The clicable btn image movie
            #myBtn{
                background: center/cover no-repeat url("../img/movie_pic.jpg");
                width: 78%;
                height: 100%;
            }
        }
    }
    // The categories section
    .categorie{
        background: center/cover no-repeat url("../img/backgroundImage.png");
        color: $color-secondary;
        text-align: center;
        overflow-x:hidden;
        overflow-y: hidden;
        white-space: nowrap;
        width: 71%;
        outline: solid burlywood;
        scroll-behavior: smooth;
        margin-bottom: 10px;
        
    }
    // The categories items
    .items{
        display:inline-block;
        padding:2em;
        vertical-align: middle;
        height: 280px;
        width:280px;
        margin: 10px;
        margin-bottom: 30px;
        float:none;
        // The clicable btn image items
        #myBtn{
            background: center/cover no-repeat url("../img/movie_pic.jpg");
            width: 100%;
            height: 100%;
            }   
    }
}
/* The movie's titles */
h2{
    display: flex;
    justify-content: center;
    color: rgb(109 252 255);
    background: center/cover no-repeat url("../img/backgroundImage.png");
    padding: 10px 35px; 
    border: none; 
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    margin-bottom: 0;
}
/*the slide buttons*/
.btn-slide{
    display: inline-block;
    margin-top: 15%;
    position: absolute;
    border: none;
    width: 23px;
    height: 40px;
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
    &__next{
        background: url("../img/next.png") 1% 35% no-repeat;
        right: 12%;
        }
    &__back{
        background: url("../img/back.png") 1% 35% no-repeat;
        left: 12%;
        }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    &-img{
        width: 30%;
    }
    &-title{
        
    }
    &-description{
        color: black;
        white-space: break-spaces;
    }
      /* Modal Content */
    &-content {
    background:center/cover no-repeat url("../img/backgroundImage.png");
    margin: auto;
    padding: 10px;
    border: 1px solid $color-secondary;
    width: 70%;
    margin-bottom: 60px;
    /* The Close Button */
    .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: #FFF;
      text-decoration: none;
      cursor: pointer;
    }
  }
  ul{
    list-style-type:none;
    color: black;
    li{
        white-space: break-spaces;

    }
  }

  }
  }
/* The footer */
footer{
    display: flex;
    justify-content: center;
    background: center/cover no-repeat url("../img/backgroundImage.png");
    color: black;
}